<!doctype html>
<html ng-app="demoApp">
    <head>
        <title>Controllers</title>
        <link href="styles.css" rel="stylesheet" type="text/css" />
    </head>
        <!--
        ng-tags
    -->
    <body ng-controller="CustomersController">
        <h2>Customers</h2>
        Filter by Name: <input type="text" ng-model="customerFilter.name"/>
        <!-- Filter by Anything: <input type="text" ng-model="customerFilter"/> -->
        <br /><br />
        <table>
            <tr>
                <th ng-click="doSort('name')">Name</th>
                <th ng-click="doSort('city')">City</th>
                <th ng-click="doSort('orderTotal')">Order Total</th>
                <th ng-click="doSort('joined')">Joined</th>
            </tr>
            <!--tr ng-repeat="cust in customers | orderBy:'name' | orderBy:'city' | limitTo:2"-->
            <!-- <tr ng-repeat="cust in customers | filter:customerFilter | orderBy:'name'"> -->
            <tr ng-repeat="cust in customers | filter:customerFilter | orderBy:sortBy:reverse">
                <td>{{ cust.name | uppercase }}</td>
                <td>{{ cust.city | lowercase }}</td>
                <td>{{ cust.orderTotal | currency:'GBP ' }}</td>
                <td>{{ cust.joined | date:'MM/yy' }}</td>
                <!--td>{{ cust.joined | date:'longDate' }}</td-->
            </tr>
        </table>
        <br />
        <span>Total Customers: {{ customers.length }}</span>
        <script src="angular.js"></script>
        <script src="app/app.js"></script>
        <script src="app/controllers/customersController.js"></script>
    </body>
</html>